.dapp-panel {
    margin-top: 10rem;
    margin-bottom: 32rem;
}

.user-interaction-button {
    background: var(--secondary-color);
    color: white;
    margin-top: 0.5rem;
}

.user-interaction-button:hover {
    font-size: 1.1rem !important;
    background: var(--secondary-color);
    color: white;
    border-width: 0rem;
}

.user-interaction-button::selection {
    background: var(--secondary-color) !important;
    font-weight: bold;
}

.user-interaction-button:focus {
    background: var(--secondary-color);
    font-weight: bold;
    color: white;
    border-width: 0rem;
}