.banner {
    padding-top: 3em;
}

.banner-bar {
    color: var(--primary-color);
}

.banner-title {
    color: var(--primary-color);
    font-size: 2em;
}

.banner-subtext {
    color: var(--secondary-color) !important;
}

@media (max-width: 992px) {
    .banner-card {
        height: 30em !important;
    }
}

@media (max-width: 768px) {
    .banner-title {
        font-size: 1.5em;
    }

    .banner-image {
        width: 70%;
    }

    .banner-right {
        text-align: center;
    }

    .banner-card {
        height: 28em !important;
    }
}

@media (max-width: 480px) {
    .banner-title {
        font-size: 1.2em;
    }

    .banner-card {
        height: 32em !important;
    }
}