.dapp-panel {
    margin-top: 10rem;
    margin-bottom: 22rem;
}

.panel-card {
    border-radius: 2rem;
    width: 100%;
    margin-top: 1rem;
}

.buy-connect-button {
    background: #d539b5;
    color: #fafcff;
    margin-top: 0.5rem;
}

.buy-connect-button:hover {
    font-size: 1.1rem !important;
    background: #d539b5;
    color: #fafcff;
    border-width: 0rem;
}

.buy-connect-button::selection {
    background: #d539b5 !important;
    font-weight: bold;
}

.buy-connect-button:focus {
    background: #d539b5;
    font-weight: bold;
    color: #fafcff;
    border-width: 0rem;
}

ul.no-bp {
    list-style-type: '';
    padding-left: 0rem;
}

.dapp-header {
    padding-right: 2rem;
}

.ticket-select {
    width: 100%;
    text-align: center;
}