.dapp-panel {
    margin-top: 10rem;
    min-height: 42rem;
}

.panel-card {
    border-radius: 2rem;
    width: 100%;
    margin-top: 1rem;
}

.user-interaction-button {
    background: var(--secondary-color);
    color: whitesmoke;
    margin-top: 0.5rem;
}

.user-interaction-button:hover {
    font-size: 1.1rem !important;
    background: var(--secondary-color);
    color: whitesmoke;
    border-width: 0rem;
}

.user-interaction-button::selection {
    background: var(--secondary-color) !important;
    font-weight: bold;
}

.user-interaction-button:focus {
    background: var(--secondary-color);
    font-weight: bold;
    color: whitesmoke;
    border-width: 0rem;
}

ul.no-bp {
    list-style-type: '';
    padding-left: 0rem;
}

.dapp-header {
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.ticket-select {
    width: 100%;
    text-align: center;
}

.header-item {
    margin-right: 1rem;
}

.form-tooltip {
    margin-left: 0.1rem;
    font-size: 0.8rem;
}

.currency-icon {
    height: 1em;
    width: 1em;
}

.lotto-info-table tr>td {
    border-bottom: none !important;
    padding-bottom: 0.1em !important;
}

.lotto-account-table tr>td {
    border-bottom: none !important;
    padding-bottom: 0.1em !important;
}