.info-bubbles {
    padding-top: 5rem;
}

.banner-card {
    text-align: center;
    background: linear-gradient(to bottom, #ffff, #ffe5fa);
    box-shadow: 0px 2px 8px #d539b5;
    max-width: 340px;
    width: 94%;
    border-radius: 4px;
    height: 25em;
    position: relative;
}

.banner-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 20px #d539b5;
}

.banner-card-body {
    padding-top: 1em;
}

.banner-card .ant-card-head-title {
    font-size: 1.5em;
}

.bubble-image {
    font-size: 7em;
}