:root {
  --primary-color: #b1277c;
  --secondary-color: #54424b;
  --tertiary-color: #eee5f3;
  --quaternary-color: #8b5700;
  --quinary-color: #c6891e;
}

.App {
  background-color: white;
  background: linear-gradient(to bottom, white, var(--tertiary-color));
}

.header {
  background: var(--primary-color);
  color: white;
}

.header-menu {
  background-color: var(--primary-color);
  color: white;
  border: none !important;
}

ul.header-menu>.ant-menu-item-active {
  color: white !important;
}

ul.header-menu>.ant-menu-item-active::after {
  border-bottom-color: white !important;
}

ul.header-menu>.ant-menu-item-selected {
  color: white !important;
  font-weight: bold;
}

ul.header-menu>.ant-menu-item-selected::after {
  border-bottom-color: white !important;
  border-bottom-width: 10rem;
}

.logo-img {
  height: 3em;
}

iframe {
  pointer-events: none;
}

.footer {
  text-align: center;
  background: var(--tertiary-color);
}

.footer-dapp {
  text-align: center;
  background: var(--tertiary-color);
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}