.App {
  background-color: #ffff;
  background: linear-gradient(to bottom, #ffff, #ffe5fa);
}

.header {
  background: #d539b5;
  color: #fafcff;
}

.header-menu {
  background-color: #d539b5;
  color: #fafcff;
  border: none !important;
}

ul.header-menu>.ant-menu-item-active {
  color: #ffff !important;
}

ul.header-menu>.ant-menu-item-active::after {
  border-bottom-color: #ffff !important;
}

ul.header-menu>.ant-menu-item-selected {
  color: #ffff !important;
  font-weight: bold;
}

ul.header-menu>.ant-menu-item-selected::after {
  border-bottom-color: #ffff !important;
  border-bottom-width: 10rem;
}

.logo-img {
  height: 3em;
}

iframe {
  pointer-events: none;
}

.footer {
  text-align: center;
  background: #ffe5fa;
}

.footer-dapp {
  text-align: center;
  background: #ffe5fa;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}